apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
        admission.datadoghq.com/cws-instrumentation.enabled: "true"
    spec:
      containers:
        - name: python-app
          image: datadog/python-security-playground:latest
          imagePullPolicy: Never
          env:
            - name: DD_SERVICE
              value: "python-app"
